* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cartpage {
  height: 90%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 56px; /* Under navbar */
  right: 0;
  background-color: rgb(240, 240, 240);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 10px;
  transition: 0.5s; /* Funkar bara om man ändrar på width mellan 0 och 300? */
  border: solid 1px grey;
  border-radius: 5px;
}

.cart-item {
  background-color: white;
  padding: 0.7em;
  border: solid 1px grey;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cart-name,
.cart-price,
.cart-qty {
  display: inline-block;
  padding: 10px;
  margin: 0;
}

.cart-qty {
  padding-left: 0;
}

.cart-image-wrapper,
.checkout-image-wrapper {
  display: inline-block;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border: solid 1px dimgray;
  border-radius: 3px;
}

.cart-image,
.checkout-image {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  border-radius: 3px;
  object-fit: cover;
}

.cart-qty-increase {
  margin-right: 5px;
}

.button-qty,
.button-clear,
.button-checkout,
.button-discount {
  padding: 0 5px;
  border-radius: 5px;
}

.button-qty:hover {
  background-color: wheat;
}

.cart-qty-remove:hover {
  background-color: rgb(224, 149, 149);
}

.button-clear {
  background-color: white;
  margin: 10px 10px 0 0;
}

.button-clear:hover {
  background-color: rgb(224, 149, 149);
}

.button-checkout {
  background-color: white;
}

.button-checkout:hover {
  background-color: rgb(186, 229, 186);
}

.link-checkout,
.link-clear {
  text-decoration: none;
  color: black;
}

.link-checkout:hover,
.link-clear:hover {
  text-decoration: none;
  color: black;
}

.checkout-container {
  margin: 0 80px;
  position: relative;
  top: 56px; /*under navbar*/
  margin-bottom: 137px; /*push footer down*/
}

.checkout-header {
  text-align: center;
  padding: 15px;
}

.checkout-price {
  margin-top: 10px;
  font-weight: bold;
}

.button-discount {
  margin-left: 10px;
}

.footer {
  margin-top: 40px;
  text-align: center;
  padding: 10px 0;
}

.detail-container {
  position: relative;
  top: 96px; /*under navbar*/
  margin-bottom: 137px; /*push footer down*/
}
