.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: lightgrey;
}

.link {
  color: black;
  text-decoration: none;
}

.header-home {
  font-size: 24px;
  font-weight: bold;
}

.header-cart {
  font-size: 24px;
  font-weight: bold;
}

.footer {
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: lightgrey;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
